.shortener-app {
  height: 100%;
}

.shortener-app-content {
  height: 15%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  margin: auto;
  text-align: center;
}

.shortener-dynamic {
  padding-top: 1.5rem;
  position: relative;
}

#long-link {
  text-align: center;
}
