extends template.pug
block content
  h2 Pending Activation
  div.user-list.pending#pending-wrap
    table.table
      thead
        tr
          th(scope="col") Username
          th(scope="col") ID
          th(scope="col") Email
          th(scope="col") Domain
          th(scope="col") Paranoid
          th(scope="col") GDPR
          th(scope="col") Enable
      tbody#pending-body
  h2 All users
  div.input-group.search-group
    input(type="text", placeholder="Search").form-control#search
    div.input-group-append
      //- TODO: Make these checkboxes somehow so we can get more proper results?
      select#search-limits.form-control
        option(value="username,email", selected) Username, Email
        option(value="*") Everywhere
        option(value="username") Username
        option(value="id") ID
        option(value="email") Email
        option(value="domain") Domain
  div.user-list.extended#all-wrap
    table.table
      thead
        tr
          th(scope="col") Username
          th(scope="col") ID
          th(scope="col") Email
          th(scope="col") Domain
          th(scope="col") Paranoid
          th(scope="col") GDPR
          th(scope="col") Disable
      tbody#all-body
