extends template.pug
block content
  h1 FAQ

  article.faq
    h2#rules What are the rules of your service?
    ol
      li
        | Our servers are located in Germany.
        | Our main developers reside in Turkey, Brazil, and USA. You must
        | conform to the laws of these nations and the laws of the country you
        | live in.
      li
        | Do not upload adult content (including but not limited to, pornography).
      li
        | Do not share your uploader token with anyone or publish it anywhere.
        | If you want to let others onto the service, encourage them to register.
      li
        | Don't do anything that will damage the stability of the service.
        | If you want to find exploits in the service, please run a copy of
        | elixi.re locally to reproduce (it is open source!) or get explicit
        | approval from developers beforehand.
      li
        | Occasionally, we may share your data with third parties for backup,
        | security, rule enforcement or legal reasons.
        | By using our service, you agree to this.
      li
        | These rules may be changed at any point, and it's your responsibility to
        | keep track of the newest rules.
        | By uploading a file, you agree to follow these rules.
    h2 Guarantees
    p
      | Our service is provided without any warranty or guarantees, ranging
      | from uptime to file retention. We try our best, but we cannot guarantee
      | 100%/99% uptime.

    h2 Privacy
    p
      | Our service is not based in the United States. Our developers are located
      | in Turkey, Brazil, and the United States.
      | We have developers located in the United States with access to production
      | data and access to database backups (but not backups consisting
      | exclusively of files).
    p
      | All developers have access to the admin API, which allows modification,
      | manipulation, and access to user information.
    p
      | Our servers are located in Germany (Hetzner). Our services also utilize
      | Cloudflare, a US-based company.
    p
      | We are compliant with GDPR. You are allowed to request a dump of your
      | data stored in the service.
    h4 Backups
    p
      | A database backup is created every 30 minutes, and the images are
      | backed up every 12 hours.
    p
      | Both backups are uploaded to Backblaze B2 (which is US based).
      | Database backups are encrypted with certain developers' PGP keys,
      | while image backups are protected with a passphrase.
    h4 Takedowns
    p
      | We do not have a warrant canary as they're intended for services based
      | in the United States. (We are not based in the US.)
    p
      | When a file is deleted, the file (content) is removed instantly, but
      | the record for it persists in the database to prevent reuse of its
      | associated shortname (to prevent URL clashes) and to count it against
      | your uploading quota as they already used traffic and processing power.
    h4 Logging
    p
      | <strong>Uploads are logged.</strong> Information includes your user ID,
      | file size, the domain you upload to, and the time of upload.
      | This does not include your IP address.
    h4 Analytics
    p
      | There are no ads or analytics on the service other than the ones present
      | on Cloudflare's side, which we are unable to disable. We have agreed to
      | the GDPR Data Processing Addendum on Cloudflare on official domains on
      | May 22, 2018.
    h5 Third Parties
    p
      | We allow unofficial domains owned by third parties to be used on the
      | service. The third parties providing these domains may not respect the
      | data they get as well as we do, and we cannot enforce their actions.
    h5 Filenames
    p
      | We use 4 letter (or more) filenames with characters 0-9 and a-z, and it's
      | possible that someone could brute force filenames on our domains to find
      | which images exist. To combat this, we offer a paranoid mode that
      | increases the minimum filename length to 8 characters.
    p
      | We currently allow anyone to access files on the same domain regardless
      | of subdomain. For example,
      | #[a(href="https://elixi.re/i/jpr.png") elixi.re/i/jpr.png]
      | also works on
      | #[a(href="https://uwu.elixi.re/i/jpr.png") uwu.elixi.re/i/jpr.png].
      | This might affect some of your approaches to eliminating the brute force
      | risk. However, there's an
      | #[a(href="https://gitlab.com/elixire/elixire/issues/44") issue] on our
      | GitLab repository addressing this problem.

    h2 How can I get uploader configurations?
    p
      | Click on your username, go to My Account,
      | click on "Generate Uploader Token", and enter your password.
      | On the page that'll open, you can find the configuration files that
      | are custom-generated for you.

    h2 Which uploaders do you support?
    ul
      li
        a(href='https://getsharex.com') ShareX (Windows)
      li
        a(href='https://gitlab.com/ArsenArsen/KShare') KShare (Linux)
      li
        a(href='https://gitlab.com/elixire/elixiremanager') ElixireManager (Linux)
      li
        a(href='https://gitlab.com/slcx/potion') Potion (macOS, developers only as only scripts are provided)
    p
      | You can download the configuration file for each supported uploaders
      | when you generate an uploader token in your account page.
    h3 How do I use KShare?
    p
      | Get a token and on the token menu, and download the KShare config.
      | Add it to KShare with help of
      | #[a(href='https://github.com/ArsenArsen/KShare/wiki/Destinations') this guide.]

    h2 API documentation?
    p
      | Feeling adventurous? We have documented our entire API (admin API
      | included) for anyone wanting to contribute, use the API, or make an
      | uploader #[a(href='https://gitlab.com/elixire/api-docs/tree/master') here.]

    h2 I can't log in!
    p
      | If you have just registered, remember that we need to manually accept
      | your account. We usually don't accept people that are not
      | in #[a(href=config.DISCORD_INV) our Discord server.]

    h2 I keep getting logged out!
    p
      | If you don't check "keep me logged in", we use special tokens that last
      | 3 days to keep you safe.

    h2 How do I get a token?
    p
      | Login, click on your username on the top right corner, go to My Account,
      | click on "Generate Uploader Token", then follow the instructions.

    h2 How do I set a domain?
    p
      | Click your username, go to My Account, enter your password,
      | pick a domain from the dropdown, click save, and all future uploads will
      | be on that domain (until you change it).

    h2 What can I upload?
    p Any files with the following mimetypes:
     ul
       li image/png
       li image/jpeg
       li image/gif
       li image/bmp
       li image/x-windows-bmp
       li image/webp
       li image/svg+xml
       li audio/webm
       li video/webm
       li video/mp4
       li text/plain
    p
      | ...as long as they follow the rules, which can be found in the
      | "What are the rules of your service?" section of this page.

    h2 Which domains do you have?
    p You can:
    ul
      li Go to homepage to see a scrolling list of domains
      li Go to the My Account page to see a domain selector
      li
        | Go to #[a(href=config.SERVICE_URL + "/api/domains") #{config.SERVICE_URL}/api/domains]
        | for a JSON representation

    h2 Can I delete my account?
    p Yes, go to the "My Account" page.

    h2 Why is the source code on GitLab?
    p Multiple reasons:
    ol
      li GitHub does not offer free private repositories.
      li Microsoft owns GitHub.
      li
        | #[a(href="http://www.businessinsider.com/githubs-oval-office-2013-9") I personally believe that github wastes their money a lot]
        | and #[a(href="https://where.coraline.codes/blog/my-year-at-github/") doesn't treat their employees well]. And I believe that it's wrong for the biggest site for open source projects to be closed source itself. (- Ave)
    p
      | Moreover, a backup of the code is hosted on a couple other Git hosts.
      | We will not provide links to avoid any false takedowns.

    h2 Public analytics
    p We have elstat (our custom status page software), and Grafana.
    ul
      li
        a(href='https://elstatus.stayathomeserver.club/') elstat
      li
        a(href='https://grafana.stayathomeserver.club/d/G0kkwUImz/elixire-main-public?orgId=2&refresh=30m') Grafana
