extends template.pug
block content
  h1 Signup
  div.alert.alert-warning Accounts are activated by the admins' discretion. Make sure to join the #[a(href=config.DISCORD_INV) Discord server] to have your account reviewed.
  div.form-wrap
    form(novalidate=true).needs-validation.form#signup-form
      div.form-group
        label(for="username") Username
        input(type="text", placeholder="Username").form-control#username
        div.invalid-feedback
      div.form-group
        label(for="email") Email
        input(type="email", placeholder="Email").form-control#email
        div.invalid-feedback
      div.form-group
        label(for="discord") Discord User
        input(type="text", placeholder="DiscordUser#0000").form-control#discord
        div.invalid-feedback
      div.form-group
        label(for="password") Password
        input(type="password", placeholder="Password").form-control#password
        div.invalid-feedback

      div.keep-wrap
        p.text-muted
          | By clicking 'Signup' below, you confirm that you have read and agree to #{config.SERVICE_NAME}'s 
          a(href="/faq.html#rules") rules
          if config.PRIVACY_POLICY
            |  and 
            a(href="/privacy.html") privacy policy
          | .
        button(type="button").btn.btn-primary#submit-btn Signup
