extends template.pug
block content
  h1 Uploader Settings
  form(novalidate="true").form-wrap.needs-verification#update-form
    div.form-group
      label(for="paranoid") Paranoid
      select(required="true")#paranoid.form-control
        option(value="false") No
        option(value="true") Yes
      span.text-muted If yes, filenames will be a minimum of #{config.PARANOID_MINIMUM_LEN} characters otherwise it will use the normal #{config.NORM_MINIMUM_LEN} character minimum
    div.form-group.domainsel
      label(for="domain-selector") Upload Domain
      div.input-group
        input(type="text", placeholder="Subdomain (Optional)").form-control#wildcard
        div.input-group-append
          span.input-group-text .
        select(required="true").select2.domain-selector.form-control#domain-selector
    div.form-group.domainsel
      label(for="domain-selector") Shorten Domain
      div.input-group
        input(type="text", placeholder="Subdomain (Optional)").form-control#s-wildcard
        div.input-group-append
          span.input-group-text .
        select(required="true").select2.domain-selector.form-control#s-domain-selector

      span.text-muted If you'd like to donate a domain, check out our 
        a(href=config.DISCORD_INV) Discord guild
        | !
    button(type="submit").btn.btn-primary#submit-btn Update Account
    hr
    button(type="button", data-toggle="modal", data-target="#password-modal").btn.btn-primary Generate Uploader Token
    
  div(tabindex="-1", role="dialog").modal.fade#password-modal
    div(role="document").modal-dialog
      div.modal-content
        div.modal-header
          h5.modal-title Enter password
          button(type="button", data-dismiss="modal").close
            span &times;
        div.modal-body.needs-validation
          p.text-muted Enter your password below to create a new uploader token
          form(novalidate=true).needs-validation#password-form
            div.form-group
              label(for="token-password") Password
              input(type="password", required="true", placeholder="Password").form-control#token-password
              div.invalid-feedback Incorrect password
          div
            span.font-weight-bold.text-danger Note:
            span.font-weight-normal.text-danger Elixire staff will never ask you for your token!

        div.modal-footer
          button(type="button", data-dismiss="modal").btn.btn-link Cancel
          button(type="button").btn.btn-primary#generate-token Generate
